/* Importando fontes */
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
/* font-family: 'Irish Grover', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Inika&display=swap');
/* font-family: 'Inika', serif; */


/* Variáveis de cor */
:root{
    --cor-texto-padrao:#FFF;
    --cor-hover-navbar:#3f0101;
    --cor-destaque-site:#D9B777;
    --cor-destaque-scrolldown:#BF2C47;
    --cor-sombra:#D3D3D3;
    --cor-destaque-verde:#8AA66F;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to left,#9E5E38, #8C2D27, #53120E);
    font-family: 'Inika', serif;
    color:var(--cor-texto-padrao)
}

/* Parte do Scrolldown da home */
.fa-angle-double-down {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 20px;
    width: 10px;
    font-size: 2.5vw;
    color: #aaa;
    z-index: 11;
    opacity: 1;
    filter: alpha(opacity=100);
    cursor: pointer;
    -webkit-animation: glow 4s infinite;
    animation: glow 4s infinite;
}

.scroll{
    background-image: url(../images/scroll-imagem.png);
    height: 100vh;
    position: relative;
    background-size: cover;
}

.scroll-conteudo {
    padding: 0px 100px 50px 100px;
    position: absolute;
    height: 50vh;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 10;
}

.scroll-conteudo button{
    font-family: 'Irish Grover', cursive;
    color:var(--cor-destaque-scrolldown);
    border: none;
    background-color: transparent;
    font-size: 72px;
    cursor: pointer;
    transition: 500ms linear;
}

.scroll-conteudo button:hover{
    transform: scale(1.1);
}

.scroll-conteudo h1{
    color:var(--cor-destaque-scrolldown);
    font-size: 72px;
}

.scroll-conteudo h2{
    font-family: 'Irish Grover', cursive;
    font-size: 38px;
}

.musicas-scroll{
    font-size: 18px;
}

    /* Essa parte é para o que vai ficar depois da animação */
.tituloScroll:after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
} 

.gradient-overlay {
    height: 100%;
    width: 100%;
    background: -webkit-linear-gradient(#000000 20%, #020202);
    background: linear-gradient(#070202 20%, #0c0808);
    opacity: 0.6;
    filter: alpha(opacity=40);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

/* tanto header quanto footer pega 100% da página e a cor do texto padrão é branco */

header, footer{
    width: 100%;
    color:var(--cor-texto-padrao);
}

/* Construção da header */

header{
    padding:2px;
}

header .container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container-header img{
    transition: 500ms linear;
}

header .container-header img:hover{
    transform: scale(1.1);
}

header .container-header a{
    text-decoration: none;
}

header .container-header .nav-list{
    list-style: none;
    display:flex;
    justify-content: space-around;
    width: 620px;
    height: 20;
}

header .container-header .nav-list .item .active{
    color:var(--cor-destaque-verde);
}

header .container-header .nav-list .item a{
    text-decoration: none;
    color:var(--cor-texto-padrao);
}

header .container-header .nav-list .item a:hover{
    color:var(--cor-hover-navbar);
}

/* construção do footer */

footer .container-footer{
    margin-top:auto;
    padding-top: 20px;
}

footer .container-footer #copyright-coluna{
    text-align: center;
    font-size: 20px;
}

footer .container-footer #redes-sociais{
    padding-top: 60px;
    float:left;
}

footer .container-footer #redes-sociais img{
    margin-right: 8px;
    transition: 500ms linear;
}

footer .container-footer #redes-sociais img:hover{
    transform: scale(1.1);
}

footer .container-footer #nav-bar{
    float:right;
}

footer .container-footer #nav-bar .nav-list{
    list-style:none;
    margin-bottom:10px;
}

footer .container-footer #nav-bar nav ul li{
    margin-bottom:2px;
}

footer .container-footer #nav-bar .nav-list a{
    text-decoration: none;
    color:var(--cor-texto-padrao);
}

footer .container-footer #nav-bar .nav-list a:hover{
    text-decoration: none;
    color:var(--cor-hover-navbar);
}

/* Box principal da página */
.content{
    margin:auto;
    padding:20px;
    padding-top:18px;
    padding-bottom:10px;
    width: auto;
    height: auto;
}



